#logo {
    width: 200px;
    height: 200px;
    background-image: url('../assets/holberton-logo.jpg');
    background-size: cover;
  }
  
  #count {
    font-weight: bold;
    margin-left: 20px;
    display: inline-block;
  }
  