
/* src/Login/Login.css */
.App-body {
  padding: 20px;
  min-height: 50vh;
  font-weight: 500;
  text-align: left;
  margin-left: 20px;
}

.login-form {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 10px; /* Adjust spacing between elements as needed */
}

.login-form label {
  margin-right: 5px;
}

.login-form input {
  margin-right: 10px;
}

.login-form button {
  padding: 5px 10px;
}
